.section--steps{
  .section-layer{display: block;
    padding-top:5rem;padding-bottom:8rem;
    .box-pic{display: block;width:100%}
  }

  .steps{max-width: 100%;
    &__pic,img{display: block;margin-bottom: 0;
      width: 110rem;max-width: 100%;

      &.mob-picture{display: none}
      @media(max-width: $mobile){display: none;
        &.mob-picture{display: block}
      }
    }
    //animate svg
    //todo: перенести keyframes в animation !!!
    @keyframes blink {
      0% {stroke: #000}
      9% {stroke: #000;}
      10% {stroke: #f90;}
      20% {stroke: #f90;}
      21% {stroke: #000;}
      100% {stroke: #000;}
    }
    .dot1,.dot2,.dot3,.dot4{animation: blink 5s linear infinite;animation-delay: 0s;}
    .dot1{animation-delay: 1s;}
    .dot2{animation-delay: 2s;}
    .dot3{animation-delay: 3s;}
    .dot4{animation-delay: 4s;}
  }

  @media (max-width: 600px){
    .section-layer{padding-top: 1.8rem;margin: 0;padding-bottom: 0}
    .box-content__title{margin-bottom: 3.6rem}
  }
}
