.section--specialization-dialog{
  .section-layer{display: block;padding:5rem 0 0;}
  .section-layer{padding-top: 0;
    .box-content{padding-top: 25%;
      .specialization{
        &__vacancies{text-decoration: underline;}
        &__desktop{
          img{width: 100%;}
          @media (max-width: $mobile){display: none;}
        }
        &__mobile{display: none;
          @media (max-width: $mobile){display: block;}
        }
      }
    }
  }


  .box-content{width:120rem;max-width: 100%;margin: 0 auto;text-align:left;}

  .on_point{
    .people{ img{animation-name: airb !important;}}
  }

  .box-content{//position: absolute;
    top:30%;opacity: 0;z-index: -1;
    transition:opacity .6s linear;
    &._dispoff{transition: 0s !important;transform: translateY(30%);}
  }
  .box-pic{width: 130rem;max-width: 100%;pointer-events: none;
    margin:5rem auto 0;z-index: 3;
    position: absolute;
    align-items: flex-start;

    //парение в воздухе
    @keyframes airb{
      0%{transform: translateY(0)}
      35%{transform:translateY(-7px)}
      100%{transform: translateY(21px)}
    }

    .people{transition: 1s linear;margin-top: -5rem;pointer-events: none;
      img{width: 42.5rem;
      animation: none 3s ease-in-out infinite alternate;
      animation-duration: 3s;animation-timing-function: ease-in-out;animation-direction: alternate;animation-iteration-count: infinite;
      }
    }

    .pic-layer--boy{
      .people{
        &__pic{margin-right: -45rem;
          img{max-width: 90rem;width: 89.8rem;animation-delay:.6s;}
        }
        &__txt{left: -66%;top: 24%;width: 32.4rem}
      }
    }
    .pic-layer--girl{
      .people{left:-15%;
        .people__pic{
          img{max-width: 55rem;width: 48.3rem;}
        }
        .people__txt{top:8%;left: 84%;width: 32.4rem;}
      }
    }
  }


  @media(max-width:600px){
    .section-layer{padding-top: 3.6rem;

      .box-content{text-align: left;padding: 0 1.8rem;
        position: relative;margin-top: -130%;
      }
      .box-pic{align-items: flex-start;margin-bottom: 0;
        position: relative;
        .pic-layer--girl .people{
          .people__txt{width: 22.1rem;}
          .people__pic{left:35%;
            img{max-width: 30rem;width: 21.9rem;}
          }
        }
        .pic-layer--boy .people{margin-top:12rem;
          .people__pic{margin-right: 1rem;
            img{max-width: 40rem;width: 38.8rem;}
          }
          .people__txt{right: 110%;left: -46%;width: 19rem;top: 30%;
            span{ &:before{bottom: auto;top: -3rem;left: auto;
              transform: rotate(-255deg) scale(1, 1);
            }}
          }
        }
      }
    }
  }

}
