.section--frame {
  .section-layer{padding-top:6rem;}
  .box-content{width: 100%;margin: 0 auto;
    padding-top: 1rem;padding-bottom: 10rem;
  }
  .box-pic{position: absolute;bottom: 4rem;right: 23%;}

  .frame{width: 92.4rem;max-width: 100%;margin: 0 auto;position: relative;
    &__bg{position: absolute;z-index:0; left: -2%;width: 104%;top:0;height: 100%;
      img{display: block;width: 100%;margin:0 auto;}
    }
    &__content{position: relative;z-index: 1;
      box-sizing: border-box;padding: 10% 6% 0;
      text-align: center;
    }

    &-list{text-align: left;
      &__item{background: url(../img/icons/check-icon.svg) no-repeat 0% .4rem;
        // TODO: переделать без картинки !!!
        background-size: 3.2rem 2.9rem;
        min-height: 3.2rem;margin-bottom: 3rem;
        font-size: 2rem;
        padding-left: 5.6rem;display: block;box-sizing: border-box;

      }
    }
  }

  .lightling{//todo:Добавить анимацию
    &__img{display: block;width: 9rem;}
  }

  @media(max-width:600px){
    .section-layer{padding:4.6rem 1.8rem 2.7rem}
    .box-content{padding-bottom: 0}
    .frame{border:1px solid #30324B;border-radius: 1.8rem;
      &__bg{display: none}
      &__content{padding: 2.4rem 1.8rem;}
      &-list{
        &__item{padding-top:4rem;padding-left:0;}
      }
    }
    .lightling{display: none}
  }
}
