.about {
  background-color: $color-t2-green;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @media (min-width: $mobile-small) {
    padding-top: 4rem;
    padding-bottom: 4.5rem;
  }

  .about-content {
    &__title {
      @include section-title-main;
      margin-bottom: 0.8rem;
      @media (min-width: $mobile-small) {
        margin-bottom: 1.6rem;
      }
    }
  }
  .cards-list {
    @media (min-width: $mobile-small) {
      flex-wrap: wrap;
    }
  }
  .card {
    @media (min-width: $mobile) {
      max-width: calc(100% / 2 - 1rem);
    }

    &__icon {
      background-color: $color-t2-lightgreen;
    }
  }
}
