@import "../vars";
.section--footer{
  background-color: $color-black;
  margin-top: -1rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: $color-white;
  text-align: center;
  .section-layer{
    padding: 7.4rem;
    @media (max-width: $mobile){
      padding: 5rem;
    }
    .box-content{
      margin: 0 auto;
    }
  }
}
